apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: alloy
valuesInline:
  alloy:
    clustering:
      enabled: true
  controller:
    replicas: 2
  resources:
    limits:
      cpu: 250m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
