apiVersion: v1
kind: ConfigMap
metadata:
    name: nginx-default-config
data:
    nginx.conf: |
        user  nginx;
        worker_processes 2;

        error_log   /dev/stderr warn;
        pid         /var/run/nginx.pid;

        events {
            # determines how much clients will be served per worker
            # max clients = worker_connections * worker_processes
            # max clients is also limited by the number of socket connections available on the system (~64k)
            worker_connections 512;
        }

        http {
            include       /etc/nginx/mime.types;
            default_type  application/octet-stream;

            log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                '$status $body_bytes_sent "$http_referer" '
                '"$http_user_agent" "$http_x_forwarded_for" '
                '"host=$host" '
                'upstream_response_time=$upstream_response_time';

            access_log /dev/stdout main;

            sendfile        on;
            tcp_nopush      on;
            tcp_nodelay     on;

            keepalive_timeout  65;
            server_names_hash_bucket_size 64;

            include /etc/nginx/conf.d/*.conf;
        }
    project-nginx.conf: |
        upstream php-upstream {
            server php-fpm:9000;
        }

        server {
            listen 80;
            root /var/www/html/web;

            location /health {
                stub_status  on;
                access_log   off;
            }
        }

        server {
            listen 8080;
            root /var/www/html/web;
            server_tokens off;
            proxy_ignore_client_abort on;

            proxy_buffer_size 16k;
            proxy_buffers 32 16k;

            client_body_buffer_size 32k;
            client_header_buffer_size 1k;
            client_max_body_size    32m;
            large_client_header_buffers 4 8k;

            fastcgi_buffer_size 16k;
            fastcgi_buffers 32 16k;

            types_hash_max_size 2048;

            set_real_ip_from  10.0.0.0/8;
            real_ip_header    X-Forwarded-For;
            real_ip_recursive on;

            gzip on;
            gzip_proxied any;
            gzip_comp_level 6;
            gzip_buffers 16 8k;
            gzip_http_version 1.1;

            location ~ /\. {
                # hide dotfiles (send to @app)
                try_files @app @app;
            }

            location ~ ^/index.php$ {
                # hide index.php (send to @app)
                try_files @app @app;
            }

            set $block_request 0;

            if ($http_user_agent ~* (Amazonbot|ClaudeBot|Bytespider|SemrushBot)) {
                set $block_request 1;
            }

            if ($request_uri = "/robots.txt") {
                set $block_request 0;
            }

            if ($block_request) {
                return 403;
            }

            location / {
                add_header "Access-Control-Allow-Origin" "*";
                # try to serve existing files directly, fallback to @app
                try_files $uri @app;

                # Enable compression of JavaScripts and CSS
                location ~ (\.js|\.css)$ {
                    gzip on;
                    gzip_types application/javascript text/css;

                    # Cache versioned static content for 1 year
                    location ~ ((-v[0-9]+\.js)|(_[0-9]+\.css))$ {
                        expires 1y;

                        # (try_files directive is not inherited from the parent location so we have to repeat it)
                        try_files $uri @app;
                    }

                    # (try_files directive is not inherited from the parent location so we have to repeat it)
                    try_files $uri @app;
                }

                location ~ ^/content/ {
                    proxy_intercept_errors  on;
                    error_page              404 = @app;

                    proxy_http_version      1.1;
                    proxy_set_header        Authorization "";
                    proxy_buffering         off;

                    proxy_pass              {{S3_ENDPOINT}}/{{PROJECT_NAME}}/web$request_uri;
                }

                location ~ ^/content(-test)?/images/ {
                    # Newly uploaded images get new ID (different URL) so they could be cached forever.
                    # But change of resolution in images.yml does not induce a change of URL
                    # so it is safer to cache generated images only for few days.
                    expires 1w;

                    # (try_files directive is not inherited from the parent location so we have to repeat it)
                    try_files $uri @app;
                }
            }

            location @app {
                add_header "Access-Control-Allow-Origin" "*";
                fastcgi_pass php-upstream;
                include fastcgi_params;
                # use $realpath_root instead of $document_root
                # because of symlink switching when deploying
                fastcgi_send_timeout 120s;
                fastcgi_read_timeout 120s;
                fastcgi_param DOCUMENT_ROOT $realpath_root;
                fastcgi_param SCRIPT_FILENAME $realpath_root/index.php;
                fastcgi_param HTTPS $http_x_forwarded_proto;
            }
        }
