apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- kube-state-metrics-deployment.yaml
- kube-state-metrics-service.yaml

## These must be deployed separately by ShopSys
## because of RBAC permissions
# - alloy-rbac-role.yaml
# - alloy-rbac-rolebinding.yaml
# - kube-state-metrics-serviceaccount.yaml
# - kube-state-metrics-role.yaml
# - kube-state-metrics-rolebinding.yaml


## Generate ConfigMap with Alloy configuration
configMapGenerator:
- files:
  - config.alloy
  name: alloy-config
  options:
    disableNameSuffixHash: true
