apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: alloy
rules:
- apiGroups: [ "" ]
  resources:
  - pods
  - pods/log
  - services
  - endpoints
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - metrics.k8s.io
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
